* {
    padding: 0px;
    margin: 0px;
  }
  
  .html {
    font-size: 62.5%;
  }

.body {
    background-repeat: none;
    min-height: 100px;
    min-width: 100px;
}  

.main-nav {
    background-color: rgba(243, 219, 219, 0);
    color: rgba(255, 255, 255, 0);
    min-width: 900px;
    width: 50%;
    font-size: 19px;
    list-style: none;
    text-align: center;
    padding: 20px;
    font-family: Roboto,sans-serif;
    margin: auto;
    
  }
  
  .main-nav a {
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
  }
  
  
  .main-nav__item_home {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    width: 735px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid;
    color: #ffffff;
    margin-left: 10%;
    margin-top: 0%;
  }
  
  .main-nav__item_biografia {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    width: 600px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid;
    color: #ffffff;
    margin-left: 17%;
    margin-top: 1%;
  }
  
  .main-nav__item_esperincia_profesional {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    width: 520px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid;
    color: #ffffff;
    margin-left: 22%;
    margin-top: 1%;
  }
  
  .main-nav__item_conocimiento {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    width: 400px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid;
    color: #ffffff;
    margin-left: 28%;
    margin-top: 1%;
  }
  
  
  .main-nav__item_blog  {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    width: 290px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid;
    color: #ffffff;
    margin-left: 34%;
    margin-top: 1%;
  }
  
  .contenedor-principal {
    height: 1000px;
    background-color: #b3b3b33a;
    width: 90%;
    max-width: 1500px;
    margin: 400px auto;
    
  }

.Titulo-historia-principal {
    background-color: rgba(243, 219, 219, 0);
    color: rgb(255, 255, 255);
    height: 140px;
    margin-top: 200px;
    font-size: 90px;
    list-style: none;
    padding-left: 0%;
    text-align: center;
    padding: 10px;
    left: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif Arial, sans-serif;
    justify-content: center;


    transform: translate(0%, 0%);
  }
  

.Caja-de-fotos-yo {
    background-color: #ffffff00;
    color: #ffffff;
    min-height: 0px;
    margin-left: 400px;
    margin-right: 600px;
    margin-top: -90px;
    font-size: 19px;
    padding-left: 0%;
    padding: 0px;
    justify-content: center;
    display: flex;
}
  
.Imagen-Nico-Historia {
    color: rgb(255, 255, 255);
    height: 180px;
    min-height: 0px;
    margin-left: 200px;
    margin-top: 100px;
    font-size: 19px;
    padding-left: 0%;
    padding: 0px;
    border: 30px;
    border: 5px solid #000000;
    justify-content: center; 
    text-align: center;
}
  
  .box-yo {
    color: rgb(255, 255, 255);
    height: 250px;
    margin-top: 100px;
    list-style: none;
    padding-left: 100%;
    text-align: center;
    padding: 10px;
    left: 0px;
    border: 5px solid #353f4600;
    background-color: #fefeff00;
    font-family: Roboto,sans-serif;
    justify-content: center; 
    text-align: center;
    transform: translate(0%, 0%);
  }
  
  .box-familia {
    color: rgb(255, 255, 255);
    height: 250px;
    margin-top: 0px;
    list-style: none;
    padding-left: 100%;
    text-align: center;
    padding: 10px;
    left: 0px;
    border: 5px solid #353f4600;
    background-color: #fefeff00;
    font-family: Roboto,sans-serif;
    justify-content: center; 
    text-align: center;
    transform: translate(0%, 0%);
    display: flex;
    flex-wrap: wrap;
    
  }

.Caja-de-fotos-familia {
    background-color: #ffffff00;
    color: #ffffff;
    min-height: 0px;
    margin-left: 400px;
    margin-right: 600px;
    margin-top: -90px;
    font-size: 19px;
    padding-left: 0%;
    padding: 0px;
    justify-content: center;
    display: flex;
}  
  
  .Imagen-familia {
    color: rgba(255, 255, 255, 0);
    height: 220px;
    width: 195px;
    min-height: 0px;
    margin-left: 180px;
    margin-top: 70px;
    padding-left: 0%;
    padding: 0px;
    border-radius: 10px;
    border: 5px solid #353f4600;
    background-color: #fefeff00;
    justify-content: center;
    display: flex;
  }

.box-novia {
    color: rgb(255, 255, 255);
    height: 250px;
    margin-top: 0px;
    list-style: none;
    padding-left: 100%;
    padding: 10px;
    left: 0px;
    border: 5px solid #353f4600;
    background-color: #fefeff00;
    font-family: Roboto,sans-serif;
    justify-content: center; 
    text-align: center;
    transform: translate(0%, 0%);

}

.Caja-de-fotos-novia {
    background-color: #ffffff00;
    color: #ffffff;
    min-height: 0px;
    margin-left: 400px;
    margin-right: 600px;
    margin-top: -90px;
    font-size: 19px;
    padding-left: 0%;
    padding: 0px;
    justify-content: center;
    display: flex;
}
.Imagen-novia {
    color: rgba(255, 255, 255, 0);
    height: 250px;
    width: 195px;
    min-height: 0px;
    margin-left: 190px;
    margin-top: 90px;
    padding-left: 0%;
    padding: 0px;
    border-radius: 10px;
    border: 5px solid #353f4600;
    background-color: #fefeff00;
}



.contenedor-redes-sociales {
    background-color: #ff000000;
    height: 375px;
    max-width: 200px;
    transform: translate(0%, -50%);
  }
  .Cuadrado-neon-redes-sociales {
    position: absolute;
    height: 370px;
    width: 280px;
    margin-left: 0px;
    margin-top: 0px;
    transform: translate(-10%, 30%);
  }
  
  .Icono-correo {
    position: absolute;
    height: 30px;
    width: 38px;
    margin-left: 00px;
    margin-top: 0px;  
    transform: translate(240%, 1140%);  
  }
  
  
  .Icono-instagram {
    position: absolute;
    height: 35px;
    width: 38px;
    margin-left: 0px;
    margin-top: 0px;  
    transform: translate(235%, 767%);  
  }
  
  .Icono-linkedin {
    position: absolute;
    height: 30px;
    width: 33px;
    margin-left: 0px;
    transform: translate(275%, 659%);  
  }
  
  .Icono-github {
    position: absolute;
    height: 45px;
    width: 45px;
    margin-left: 0px;
    margin-top: 0px;
    transform: translate(190%, 270%);       
  }

.Musica-de-fondo {
    color: rgb(255, 255, 255);
    height: 0px;
    list-style: none;
    padding: 10px;
    margin: auto;
    border: 5px solid #353f4600;
    background-color: #fefeff00;
    font-family: Roboto,sans-serif;
    transform: translate(0%,1650%);
}

.footer {
    color: #ffffff;
    background-color: #000000;
    margin-top: 130px;
    list-style: none;
    padding-left: 0%;
    text-align: center;
    padding: 48px;
    border: 5px solid #353f4600;
    background-color: #33333336;
    font-family: Roboto,sans-serif;
    justify-content: center; 
    text-align: center;
    transform: translate(0%,0%);
    
}