* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.html {
  font-size: 62.5%;
}

.body {
  background-repeat: none;
  min-height: 100px;
  min-width: 100px;
}  


.main-nav {
  background-color: rgba(243, 219, 219, 0);
  color: rgba(255, 255, 255, 0);
  height: 0px;
  margin-top: 0px;
  font-size: 19px;
  list-style: none;
  padding-left: 0%;
  transform: translate(0%, 18%); /* 18% para que no este pegado a la parte de arriba */
  text-align: center;
  padding: 20px;
  left: 0px;
  font-family: Roboto,sans-serif;
  justify-content: center;
  
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
  
}


.main-nav__item_home {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.048);
  padding-left: 0px;
  padding: 10px;
  width: 110px;
  flex-wrap: wrap;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: .5em;
  text-decoration: none;
  transform: translate(40%, -75%);
  border-radius: 50px;
  border: 1px solid;
  color: #ffffff;
}

.main-nav__item_biografia {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.048);
  padding-left: 0px;
  padding: 10px;
  width: 155px;
  flex-wrap: wrap;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: .5em;
  text-decoration: none;
  border-radius: 40px;
  transform: translate(20%, 40%);
  border-radius: 50px;
  border: 1px solid;
  color: #ffffff;
}

.main-nav__item_esperincia_profesional {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.048);
  padding-left: 0px;
  padding: 10px;
  border: 2px solid;
  flex-wrap: wrap;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: .5em;
  text-decoration: none;
  border-radius: 40px;
  transform: translate(-2%, 170%);
  border-radius: 50px;
  border: 1px solid;
  color: #ffffff;
}

.main-nav__item_conocimiento {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.048);
  padding-left: 0px;
  width: 155px;
  padding: 10px;
  border: 2px solid;
  flex-wrap: wrap;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: .5em;
  text-decoration: none;
  border-radius: 40px;
  transform: translate(-25%, 40%);
  border-radius: 50px;
  border: 1px solid;
  color: #ffffff;
}

.main-nav__item_blog  {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.048);
  padding-left: 0px;
  padding: 10px;
  width: 110px;
  flex-wrap: wrap;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: .5em;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid;
  color: #ffffff;
  transform: translate(-40%, -70%);
}